


.img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-image: cover;
  background-image: url(/public/favicon2.ico);
  
}
.form-floating{
margin: 3%;
}
.container-fluid{
  
  background-color: #232F3E;
}
.navbar
{
  padding: 1px;
  color: white;
}
.navbar-nav .nav-link.active{
  color: #FFFFFF;
}
.navbar-brand {
  color: #FFFFFF;
}
.nav-link {
  color: #FFFFFF;
}
.navbar-toggler-icon{
  color: black;
  background-color: white;
}
.textform-heading{
  background-color: pink;
  margin: 2%;
  margin-top: 20px;
  padding: 5px;
}
.uppercase-btn{
  margin-top: 10px;
  border-radius: 3%;
}
.form{
  width: 100%;
  height: 25vh;
  padding: 5px;
  border: none;
  background-color: pink;
}
.summarycontainer{
  background-color: pink;
  height: 22vh;
  margin: 3%;
  margin-top: 20px;
  padding: 5px;
}



.todo-container{
  height: 75%;
  width: 250px;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
  color: white;
  background-color: rgb(98, 4, 97);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.todoappdiv{
  
  display: flex;
  justify-content: center;
  align-items: center;
 
  
}
.todo-items{
  display: flex;
  justify-content: space-between;
  align-items: center; 
}
.add-button{
   padding: 5px;
   margin-top: 10px;
   width: 100%;
   cursor: pointer;
   border-radius: 10px;
}
.todoitem-text{
   margin-left: 5px;
}
.todo-header{
  display: flex;
  justify-content: center;
  align-items: center;

}
.maindiv{
  display: flex;
  flex-direction: row;
}



.sidebar-items{
  font-size: large;
  font-weight: 500; 
}
.sidebar-item-container{
  display: flex;

}
.logo-app{
  background-image: url(/public/News.png);
  background-size: cover;
  border-radius: 50%;
}
.logo-textutlis{
  background-image: url(/public/Textutils.jpeg);
  background-size: cover;
  border-radius: 50%;
}
.logo-todoapp{
  background-image: url(/public/Todo.png);
  background-size: cover;
  
}
.btn-light{
     border: none;
}
.mainarea{
  height: 100vh;
  width: 100%;
}

.card:hover{
  transition: all 250ms ease-in-out;
  transform: scale(1.08);
  box-shadow: 5px 10px 10px rgba(7, 199, 81, 0.3);
}




